.container {
    padding: 8rem 12rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  .container h1{
    
    text-shadow: 5px;
    font-weight: 500;
    font-family: serif;
    
  }
  .container .d-flex{
    display: flex !important;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    
    
  }
  .container .d-flex .input-group{
   width: 100%;
   margin-right: 5px;
   

  }
  .container .d-flex .input-group-prepend{
    display: flex;
    justify-content: space-around;
    margin-right: 8px;
    
  }
  .container .d-flex .input-group-prepend .input-group-text{
    background-color: #cecdc9;
    box-shadow: 0 1px 2px;
    color: var(--blackColor);
    
    font-weight: 500;
  
    
  }
  .container .d-flex .custom-select{
   
    box-shadow: 0 1px 2px;
    border-radius: 8px;
  }
  .container .d-flex .input-group input{
    box-shadow: 0 1px 2px;
    
    }
    .container .d-flex .input-group button{
      box-shadow: 0 1px 2px;
      background-color: transparent;
      border-radius: 8px;
      
      
      }
  .center-container {
    
    text-align: center;
  }
  @media screen and (max-width: 425px) {
    .container .d-flex{
      display: flex !important;;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      
    }
    
  }
  @media screen and (max-width: 770px) {
    .container .d-flex{
      
      flex-direction: column;
      
      justify-content: center;
      align-items: center;
      width: 50%;
      
    }
    
  }