.container {
    padding: 8rem 12rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  .container h1{
    
    text-shadow: 5px;
    font-weight: 500;
    font-family: serif;
    
  }
  .container .d-flex{
    display: flex !important;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    
    
  }
  .container .d-flex .input-group{
    margin-right: 10px;
  }
  .container .d-flex .input-group-prepend{
    display: flex;
    justify-content: space-around;
    margin-right: 8px;
    
  }
  .container .d-flex .input-group-prepend .input-group-text{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    
  
    
  }
  .container .d-flex .custom-select{
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border-radius: 8px;
  }
  .center-container {
    text-align: center;
  }