
.filterCard{
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(14, 13, 13, 0.1); 
  transition: transform 0.2s; 
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: transparent;
  
  
}

.filterCardCard:hover {
  transform: scale(1.05); 
  
}
.filterCard .filter-card-header-div{
  text-align: center;
  padding-left: 1rem;
  padding-top: 1rem;
  
}
.filterCard .filter-card-header-div h4{
  color: var(--blackColor);
  text-shadow: 0 1px 2px rgb(128, 126, 126)

}
.filterCard  .filter-card-img-container{
  padding: 0.5rem;
 
}
.filterCard  .filter-card-img-container img{
  width: 100%;
  object-fit: cover;
  border-radius: 8px; 
  
}
.filterCard .content-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  align-items: flex-end;
  padding-bottom: 1rem;
  

}
.filterCard .content-container .filter-card-description-container{
  color: var(--blackColor);
    text-shadow: 0 1px 1px rgb(88, 88, 88);
}
.filterCard .content-container .filter-card-btn-container{
  display: flex;
  background-color: rgb(161, 153, 142);
  border-radius: 8px;
  box-shadow: 0 1px 2px;
    
}
.filterCard .content-container .filter-card-btn-container a{
  
  color: var(--blackColor);   
  
}
.filterCard .content-container .filter-card-btn-container a:hover{
    
  color: var(--whiteColor);
  transition: 0.3s ;
  
}
.filterCard .content-container .filter-card-btn-container button{
  
  color: var(--blackColor);   
  
}
.filterCard .content-container .filter-card-btn-container button:hover{
    
  color: var(--whiteColor);
  transition: 0.3s ;
  
}