.profile{
    display: grid;
    
    padding: 10rem 10rem;
    
}
.profile .profiles{
    display: table-row;
    align-items: start;
    padding: 5px;
    justify-self: center;
}
.profile .profiles .row{
    display: flex; 
  align-items: center;
  margin-bottom: 10px;
}
.profile .profiles .row label{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start; 
    text-transform: capitalize;
 

}
.profile .profiles .row span{
    margin-right: 10px;
}
.profile .profiles .row button{
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 1px 2px;
   
    
    
}