.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 5px rgb(119, 113, 113);
  z-index: 1000;
  background-color: #cecdc9;
 
}


.dropdown-menu {
  background-color: #cecdc9;
  border: none;
}

.dropdown-menu .text {
  margin: 0.5rem 0.25rem;
}
.dropdown-menu .text .icon {
  margin-right: 0.5rem;
}

@media screen and (max-width: 425px) {
  .header{
    height: 10%;
  }
  
  .header .logoDiv {
   
    width: 100px;
    height: auto;
    
  }
  .header .logoDiv img {
   
    width: 100%;
  
  }
  .navbar {
    position: absolute;
    background-color: #cecdc9;
    width: 25%;
    top: -100rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    transition: 0.3s ease;
    z-index: 2000;
  }
  .closeIcon {
    position: absolute;
    bottom: -15px;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    background: var(--secondaryColor);
    
    padding: 3px;
    border-radius: 50%;
    font-size: 35px;
  }
  
  .menu {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .menu .listItem {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    cursor: pointer;
  }
  .menu .listItem a {
    font-size: 15px;
    color: black;
    text-align: center;
  }
  .menu .listItem a:hover {
    color: var(--whiteColor);
  }
  .menu .listItem:hover {
    background: rgb(119, 113, 113);
   
    transition: 0.3s ease;
  }
}
.signUp {
  gap: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;


}
.signUp .textAction {
  padding: 3px 10px;
  background-color: transparent;
  border-radius: 3px;
  color: var(--blackColor);
  cursor: pointer;
  font-size: 14px;
  width: 120px;
  text-align: left;
}
.signUp .textAction:hover {
  background: var(--secondaryColor);
  color: var(--blackColor);
}
.signUp .text {
  padding: 3px 10px;
  background-color:#cecdc9;
  border-radius: 3px;
  box-shadow: 0 1px 2px black;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
}
.signUp .text:hover {
  background: #c2bfb6;
  color: white;
}
.signUp .dropdown {
  width: 150px;
  padding: 6px 4px;
  text-align: center;
}
.signUp .text-login {
  padding: 3px 10px;
  background: red;
  border-radius: 3px;
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 14px;
}
.signUp .text-login:hover {
  color: var(--secondaryColor);
}
.signUp .toggleNavbarIcon {
  background: none;
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 25px;
}

.showNavbar {
  top: 7rem;
  transition: 0.5s ease;
  width: 250px;
}

.addBg {
  justify-content: space-around;
  background: var(--pureWhiteColor);
  opacity: 95%;
}



@media screen and (min-width: 770px) {
  .header{
    height: 10%;
  }
  .header .navbar .closeIcon {
    display: none;
  }
  .header .navbar .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .header .navbar .menu .listItem {
    padding: 0.3rem 1rem;
    border-radius: 3px;
  }
  .header .navbar .menu .listItem a {
    color: var(--blackColor);
    font-size: 15px;
  }
  .header .navbar .menu .listItem:hover {
    background: #cecdc9;
    color: var(--blackColor);
    transition: 0.3s ease;
    box-shadow: 0 1px 2px ;
  }
  .header .navbar .menu .listItem:hover a {
    color: #665d40 ;
  }
  .header .signUp .text {
    padding: 6px 10px;
  }
  .header .signUp .toggleNavbarIcon {
    display: none;
  }
  .navbarProfileImg {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1064px) {
  .header {
    padding: 1rem 7rem;
  }
  .header .logoDiv {
   
    width: 100px;
    height: auto;
  }
  .header .logoDiv img {
   
    width: 100%;
  
  }
  .header .navbar .menu .listItem a {
    font-size: 20px;
  }
  .header .signUp .text {
    font-size: 18px;
  }
  .addBg {
    padding: 0.5rem 7rem 0;
  }
}
@media screen and (min-width: 1400px) {
  .header .navbar .menu .listItem {
    margin: 0 1.8rem;
  }
  .header .navbar .menu .listItem a {
    font-size: 20px;
  }
}
