.footer {
    padding-top: 4rem;
    margin: 1.5rem;
    position: relative;
    bottom: 0;
    
   
    
  }
  .footer .footerContainer {
    padding: 2rem;
    background: var(--greyColor);
    border-radius: 10px;
    gap: 1.5rem;
    background-color: rgb(182, 177, 177);
    color: black;
    
  }
  .footer .footerContainer .footerMenuDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer .footerContainer .singleGrid .footerTitle {
    display: block;
    padding-top: 0.5rem;
    font-size: 16px;
    color: var(--blackColor);
    font-weight: 700;
    padding-right: 10rem;
  }
  .footer .footerContainer .singleGrid .footerUl {
    gap: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    
  }
  .footer .footerContainer .singleGrid .footerUl .footerLi {
    color: black;
    align-items: start;
    text-align: start;
  }
  .footer .footerContainer .singleGrid .footerUl .footerLi:hover {
    color: var(--blackColor);
    transform: translateX(5px);
    transition: 0.3s;
  }
  .footer .footerContainer .singleGrid .footerUl .footerLi a {
    color: black;
    text-align: start;
  }
  .footer .lowerSection {
    padding: 1rem;
    text-align: center;
  }
  
  @media screen and (min-width: 425px) {
    
    
    .footer .footerContainer .footerMenuDiv {
      grid-template-columns: repeat(2, 1fr);
    }
    .footer .footerContainer .footerMenuDiv .singleGrid {
      margin: auto;
    }
    .footer .footerContainer .footerMenuDiv .singleGrid .footerTitle {
      font-size: 17px;
    }
    .footer .footerContainer .footerMenuDiv .singleGrid .footerUl {
      gap: 5px;
    }
    .footer .footerContainer .footerMenuDiv .singleGrid .footerUl .footerLi {
      color: var(--textColor);
    }
    .footer .lowerSection {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 770px) {
    .footer .footerContainer .footerMenuDiv {
      grid-template-columns: repeat(3, 1fr);
    }
    .footer .lowerSection {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 940px) {
    .footer .footerContainer {
      padding: 2rem 1rem;
    }
    .footer .footerContainer .footerMenuDiv {
      grid-template-columns: repeat(3, 1fr);
      display: flex;
      flex: row;
    
      
      
    }
    .footer .lowerSection {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }