.vehicleCard{
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: none!important;
    transition: transform 0.3s; 
    display: flex;
    flex-direction: column;
    
  }
  
  .vehicleCard:hover {
    transform: scale(1.05); 
  }
  .vehicleCard .vehicle-card-header-div{
    text-align: center;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .vehicleCard .vehicle-card-header-div h4{
    color: rgb(70, 17, 33);

  }
  .vehicleCard  .vehicle-card-img-container{
    padding: 0.5rem;
  }
  .vehicleCard  .vehicle-card-img-container img{
    width: 100%;
    object-fit: cover;

  }
  .vehicleCard .content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: end;
    padding-bottom: 1rem;

  }
  .vehicleCard .content-container .vehicle-card-description-container{
    color: rgb(116, 94, 67);
  }
  .vehicleCard .content-container .vehicle-card-btn-container{
      
  }
  .vehicleCard .content-container .vehicle-card-btn-container a{
    background: #a73737;
    color: aliceblue;


      
  }