
.container {
    padding: 8rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cecdc9;
  
  }
  .container h1{
    
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 5rem;
    text-decoration-line: underline;
    text-shadow: 0 2px 3px rgb(128, 126, 126);
    
    
  }
  .filter-card-container{
    display: 'flex';
    background-color: #cecdc9;
    padding-bottom: 1rem;
    width: 100%;
    border-radius: 2rem;
  }

  .filter-card-container .card{
    padding: 2rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #cecdc9;
    box-shadow: 0 2px 5px rgb(119, 113, 113) ;
    text-shadow: 0 1px 2px rgb(128, 126, 126);
  }

  .filter-card-container .card .date-input-container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 1rem;
    gap: 2rem;
    
  }
  .filter-card-container .card .date-input-container .date-input-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .filter-card-container .card .date-input-container .date-input-div input{
    
    padding: 0.25rem 0.5rem;
    background: var(--whiteColor);
    border-radius: 0.5rem;
    color: black;
    font-weight: 500;
    font-size: 18px;

  }
  .react-datepicker{
    border: none;
  }
  .filter-card-container .card .btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
  }
  .filter-card-container .card .btn-container button{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 0 1px 2px;
    color: black;
    border-radius: 0.5rem;
    font-size: 18px;
    padding: 0.25rem 2rem;
    font-weight: 500;
  }
  .filter-card-container .card .btn-container button:hover{
    background: #c2bfb6;
    color:white
  }
  .filter-card-container .card .date-input-container .date-input-div label{
    font-size: 16px;
    color: black;
    font-weight: 500
    ;
  }

  @media screen and (max-width: 425px) {
    .filter-card-container{
      display: flex;
     
      padding-bottom: 1rem;
      width: 100%;
      border-radius: 2rem;
    }
  
    .filter-card-container .card{
      
      padding: 1rem;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
    }
    .filter-card-container .card .date-input-container{
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0.5rem 1rem;
      gap: 2rem;
      
    }
    .filter-card-container .card .date-input-container .date-input-div{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    .filter-card-container .card .date-input-container .date-input-div input{
      
      padding: 0.25rem 0.5rem;
      background: var(--whiteColor);
      border-radius: 0.5rem;
      color: black;
      font-weight: 500;
      font-size: 18px;
  
    }
    .react-datepicker{
      border: none;
    }
    
  }
  @media screen and (max-width: 770px) {
    .filter-card-container .card{
      
      padding: 1rem;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
    }
  }